.tiklab_fulloplog {
  height: 100%;
  width: 100%;
  overflow: auto;
  .tiklab_fulloplog-title{
    margin-bottom: 8px;
  }
  &_nav {
    font-size: var(--tiklab-font-16);
    font-weight: var(--tiklab-font-weight-bold);
  }
  .tiklab_fulloplog_select{
    gap: 15px;
    flex-wrap: wrap;
    padding: 15px 0;
  }
}



