.thoughtware_fulloplog {
  height: 100%;
  width: 100%;
  overflow: auto;
  .thoughtware_fulloplog-title{
    margin-bottom: 8px;
  }
  &_nav {
    font-size: var(--thoughtware-font-16);
    font-weight: var(--thoughtware-font-weight-bold);
  }
  .thoughtware_fulloplog_select{
    padding: 15px 0;
  }
}



