.tiklab_fulltodo {
  height: 100%;
  width: 100%;
  overflow: auto;
  .tiklab_fulltodo-title{
    margin-bottom: 8px;
  }
  .tiklab_fulltodo-select{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    margin-bottom: var(--tiklab-padding-item);
    flex-wrap: wrap;
    gap: 10px 0;
  }
  &_nav {
    font-size: var(--tiklab-font-16);
    font-weight: var(--tiklab-font-weight-bold);
  }
  .tab-content{
    width: 100%;
  }
  .ant-pagination-item-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  .todo-count-number{
    font-size: 12px;
    padding-left: 3px;
    color: #999;
  }
}
