$block-spacing: 30px;

.workLayout{
  height: 100%;
  width: 100%;
  overflow: auto;
  .workLayout-guide{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
    .workLayout-guide-right{
      cursor: pointer;
    }
    .workLayout-guide-link{
      cursor: pointer;
      color: var(--thoughtware-blue);
      font-weight: var(--thoughtware-font-weight-bold);
    }
  }
  .workLayout-title{
    font-weight: var(--thoughtware-font-weight-bold);
  }
  .product_widget{
    display: flex;
    overflow: hidden;
    background-color: var(--thoughtware-white);
    margin-bottom: $block-spacing;
    &-card{
      width: 100%;
      overflow: hidden;
      transition: all .3s ease;
    }
    .clicked{
      cursor: pointer;
    }
    .product_card {
      &-content {
        width: 100%;
        color: #6e6e6e;
        padding-top: 10px;
        &-wrap{
          display: flex;
          justify-content: flex-start;
          flex-wrap: wrap;
          gap:25px 5%;
        }
      }
      &-contentleft{
        min-height: 420px;
      }
      &-item{
        display: flex;
        align-items: center;
        flex-direction: column;
        min-width: 55px;
        &:hover .card-item_img{
          top: -4px
        }
        &_img{
          width: 44px;
          height: 44px;
          position: relative;
        }
        &_beta{
          position: absolute;
          z-index: 10;
          top: -14px;
          right: -26px;
          pointer-events: none;
          transition: opacity 0.3s, transform 0.3s;
        }
        &_title{
          height: 20px;
          font-size: 14px;
          color: #3a3c41;
          text-align: center;
          line-height: 20px;
          margin: 8px auto 0;
        }

        .product_card-item_lock{
          position: absolute;
          right: -4px;
          top: -4px;
          width: 16px;
          height: 16px;
          color: #222;
        }

      }
    }
  }

  .quick-entry{
    background: var(--thoughtware-white);
    margin-bottom: $block-spacing;
    .quick-entry-content{
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      overflow: hidden;
      gap: 10px;
      .quick-entry-item{
        flex: 1;
        min-width: 150px;
        max-width: 25%;
        padding: 10px;
        border-radius: 4px;
        cursor: pointer;
        text-align: center;
        background: var(--eas-backdrop-color);
        &>div:first-child{
          padding-bottom: 15px;
          font-weight: var(--thoughtware-font-weight-bold);
        }
        &>div:last-child{
          color: var(--thoughtware-gray-500);
        }
      }
    }
  }

  .todoWidget{
    margin-bottom:$block-spacing;
    background: var(--thoughtware-white);
    &-content {
      display: flex;
      flex-wrap: wrap;
      overflow: hidden;
      gap: 10px;
      .widget-todo-item{
        flex: 1;
        min-width: 150px;
        max-width: 25%;
        padding: 15px;
        border-radius: 4px;
        cursor: pointer;
        background:  var(--eas-backdrop-color);
        display: flex;
        align-items: center;
        justify-content: center;
        img{
          width: 32px;
          height: 32px;
        }
        &>div:last-child{
          margin-left: 10px;
        }
        .widget-todo-item-num{
          font-weight: var(--thoughtware-font-weight-bold);
          padding-bottom: 10px;
        }
        .widget-todo-item-text{
          color: var(--thoughtware-gray-500);
        }
      }
    }
  }

  .oplogWidget{
    overflow: hidden;
    background: var(--thoughtware-white);
    min-height: 300px;
    &-content {
      width: 100%;
      color: var(--thoughtware-black);
    }
  }
}

