$block-spacing: 30px;
$inline-spacing: 15px;
$inline-padding: 15px;

.setting-home{
    height: 100%;
    width: 100%;
    overflow: auto;
    .home-title{
        margin-bottom: 10px;
        font-weight: var(--thoughtware-font-weight-bold);
    }
    .home-label{
        padding-bottom: $inline-padding;
    }
    .home-info{
        font-weight: var(--thoughtware-font-weight-bold);
    }
    .home-message-box{
        margin-bottom: $block-spacing;
        .home-message{
            display: flex;
            .home-message-item{
                flex: 1;
                background: var(--eas-backdrop-color);
                text-align: center;
                padding: $inline-padding;
                border-radius: 4px;
                &:not(:last-child){
                    margin-right: $inline-spacing;
                }
            }
        }
    }
    .home-licence-box{
        .home-licence{
            display: flex;
            .home-licence-item{
                flex: 1;
                background: var(--eas-backdrop-color);
                border-radius: 4px;
                padding: $inline-padding;
                &:not(:last-child){
                    margin-right: $inline-spacing;
                }
                .home-licence-item-label{
                    padding-bottom: $inline-padding;
                }
                .home-licence-item-level{
                    display: flex;
                    align-items: center;
                    flex-wrap: wrap;
                    .licence-level-label{
                        font-size: 12px;
                        color: #999999;
                        margin-right: 10px;
                    }
                    .licence-level-info{
                        font-weight: var(--thoughtware-font-weight-bold);
                    }
                }
            }
        }
    }

}
