/**
* @name: work
* @author: mahai
* @date: 2021-05-24 09:38
* @description：work
* @update: 2021-05-24 09:38
*/
.work {
  display: flex;
  align-items: center;
  max-width: 1200px;
  margin: 24px auto;
  padding: 24px;
  border-radius: 8px;
  box-shadow: 0 0 10px #c4c4c4;
}
