/**
* @name: work
* @author: mahai
* @date: 2021-05-24 09:38
* @description：work
* @update: 2021-05-24 09:38
*/



.work {
  display: flex;
  align-items: center;
  max-width: 1200px;
  margin: 24px auto;
  padding: 24px;
  border-radius: 8px;
  box-shadow: 0 0 10px #c4c4c4;
}

.workLayout{
  width: 100%;
  height: 100%;
  flex: 1 1;
  overflow-y: auto;
  padding: 16px 24px;
  &-content{
    flex: 1 1;
    margin: 0 24px;
  }
}

.item-gird{
  border: 1px solid #ececec;
  //padding: 10px;
  padding: 24px 24px 10px 10px;
}
.item-remove{
  position: absolute;
  cursor: pointer;
  top:4px;
  right:4px
}

.drawerItem {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  &-title{
    line-height: 22px;
    font-size: 16px;
    color: #62656f;
    margin-bottom: 4px;
  }
  &-desc{
    line-height: 16px;
    font-size: 12px;
    color: #979ba5;
  }
  &:hover{
    background-color: #f6f7f9;
  }
}
