.eas-home-limited,.system-content{
    .ant-form-item{
        margin-bottom: 20px !important;
    }
    .ant-form-item-label>label.ant-form-item-required:not(.ant-form-item-required-mark-optional):after {
        display: inline-block;
        margin-left: 4px;
        color: #ff4d4f;
        font-size: 14px;
        font-family: SimSun,sans-serif;
        line-height: 1;
        content: "*";
    }
    .ant-form-item-label>label.ant-form-item-required:not(.ant-form-item-required-mark-optional)::before {
        display: none !important;
        content: "" !important;
    }
    .ant-form-item-explain{
        font-size: 13px !important;
    }
    .ant-form-item-explain-error{
        min-height: 20px !important;
        height: 20px !important;
    }
    .ant-table-thead>tr>th{
        background: #ffffff;
        padding: 8px;
        font-size: 12px;
        color: #666;
        font-weight: 600;
    }
    .ant-table-tbody>tr>td{
        border: none;
        padding: 8px;
    }
    .ant-table{
        border-bottom: 1px solid #f0f0f0;;
    }
}

.eas-home-limited{
    padding: 20px 30px;
}


:root {

    --thoughtware-white: #fff;   /* 主色调白*/
    --thoughtware-black: #000;   /*主色调黑 */
    --thoughtware-blue: #0d66e4;   /* 主色调蓝*/
    --thoughtware-gray-200: #ececec;  /*border 的边线 */
    --thoughtware-gray-300: #edf0f5;  /*hover颜色 */
    --thoughtware-gray-400: #e3e8f0;  /*左侧导航 选中颜色 */
    --thoughtware-gray-500: #999; /* 文字次级颜色灰色调*/
    --thoughtware-gray-600:#f7f7f7; /* 内容区域侧边栏色调 */
    --thoughtware-gray: #efefef;  /* 主色调灰 左侧导航*/


    --thoughtware-padding: 20px;  /*页面边距 */
    --thoughtware-padding-resove: -20px; /* 页面边距*/
    --thoughtware-padding-item: 15px;  /*元素间隔边距 */
    --thoughtware-padding-resove-item:-15px;  /*元素间隔边距 */

    --thoughtware-font-12: 12px;  /*图文排需要的文字 */
    --thoughtware-font-13: 13px;  /*描述文字 */
    --thoughtware-font-14: 14px; /*正文 */
    --thoughtware-font-15: 15px;  /* 2级标题*/
    --thoughtware-font-16: 16px;  /*标题 */

    --thoughtware-font-weight-bold: bold;  /*标题字重 */

    /* 图标大小 */
    --thoughtware-icon-size-16: 16px;
    --thoughtware-icon-size-20: 20px;
    --thoughtware-icon-size-22: 22px;
    --thoughtware-icon-size-24: 24px;
    --thoughtware-icon-size-32: 32px;

    --eas-border-color: #ececec;
    --eas-select-color: #e3e8f0;
    --eas-hover-color: #edf0f5;
    --eas-backdrop-color: #f7f7f7;
    --eas-head-height: 48px;
    --eas-content-height: calc(100vh - 48px)

}


