.eas-page{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    .eas-page-ban{
        cursor:not-allowed;
        color: var(--thoughtware-gray-500);
    }
    .eas-page-allow{
        cursor: pointer;
    }
    .eas-page-current,.eas-page-allow:hover{
        color: var(--thoughtware-blue);
    }
    .eas-page-line{
        margin: 0 5px;
    }
    .eas-page-record{
        margin-left: 10px;
        font-size: var(--thoughtware-font-12);
    }
}
