/**
* @name: useWorkAppConfig
* @author: mahai
* @date: 2021-06-29 09:17
* @description：useWorkAppConfig
* @update: 2021-06-29 09:17
*/
.useHook_app{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}
