.eas-btn{
  display: inline-block;
  font-weight: 400;
  white-space: nowrap;
  text-align: center;
  cursor: pointer;
  padding: 4px 15px;
  font-size: 14px;
  border-radius: 4px;
  color: rgba(0,0,0,.85);
  background: #fff none;
  border: 1px solid #d9d9d9;
}

.eas-btn-primary{
  background: var(--tiklab-blue);
  border-color: var(--tiklab-blue);
  color: #ffffff;
}

.eas-btn-disabled{
  color: rgba(0,0,0,.25);
  background: #f5f5f5;
  border-color: #d9d9d9;
  cursor:not-allowed;
}

.eas-btn-link{
  color: var(--tiklab-blue);
  background: transparent;
  border-color: transparent;
  box-shadow: none;
}

.eas-btn-mar{
  margin-right: 15px;
}
