
.oplogWidget{
  display: flex;
  overflow: hidden;
  padding: 10px;
  background: var(--tiklab-white);
  &-card{
    width: 100%;
    overflow: hidden;
    &-body{
      height: 100%;
      overflow: hidden;
      &-header {
        padding: 8px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        flex-wrap: nowrap;
        overflow: hidden;
        &-title{
          color: var(--tiklab-black);
          font-size: var(--tiklab-font-16);
          font-weight: var(--tiklab-font-weight-bold);
          line-height: 28px;
          margin: var(--tiklab-padding-resove-item) var(--tiklab-padding-resove-item) 0 var(--tiklab-padding-resove-item);
          padding: 0 var(--tiklab-padding-item);
        }
      }


      &-content {
        width: 100%;
        padding: 0 var(--tiklab-padding-item);
        color: var(--tiklab-black);
        .tab-content{
          overflow: auto;
        }
        .item-oplog{
          display: block;
          cursor: pointer;
          &-wrap{
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
          }
          &-title {
            line-height: 28px;
            font-size: var(--tiklab-font-16);
          }
          &-content {
            color: var(--tiklab-gray-500);
            font-size: var(--tiklab-font-14);
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
          }
        }
      }
    }
  }
  .time{
    color: var(--tiklab-gray-500);
    padding: var(--tiklab-padding-item);
  }
  &-tags {
    padding: var(--tiklab-padding-item) 0;
  }
}

.myoplog_abstract_widget{
  display: flex;
  align-items: center;
  width: 70%;
  &_img {
    flex: 0 0 50px;
    height: 50px;
    width: 50px;
  }
  &_text {
    margin-left: 20px;
    width: 0;
    flex: 1;
    h4 {
      overflow: hidden;
      white-space:nowrap;
      text-overflow: ellipsis;

    }
    p {
      overflow: hidden;
      white-space:nowrap;
      text-overflow: ellipsis;
    }
  }
}
