.thoughtware_fulloplog {
  height: 100%;
  width: 100%;
  overflow: auto;
  .thoughtware_fulloplog-title{
    margin-bottom: 8px;
  }
  .thoughtware_fulloplog_select{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: var(--thoughtware-padding-item);
    white-space: nowrap;
  }
}


