.tiklab_fulloplog {
  height: 100%;
  width: 100%;
  overflow: auto;
  .tiklab_fulloplog-title{
    margin-bottom: 8px;
  }
  .tiklab_fulloplog_select{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: var(--tiklab-padding-item);
    white-space: nowrap;
  }
  .tiklab_fulloplog-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    &:hover{
      background: #fafafa;
      cursor: pointer;
    }
    .dynamic-item-data{
      flex: 1;
    }
    .dynamic-item-time{
      font-size: 13px;
    }
  }
}
.ant-picker-cell-inner{
  text-align: center;
}


