.oplogWidget{
  display: flex;
  overflow: hidden;
  padding: 10px;
  background: var(--thoughtware-white);
  min-height: 300px;
  &-card{
    width: 100%;
    overflow: hidden;
    &-body{
      height: 100%;
      overflow: hidden;
      &-header {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        flex-wrap: nowrap;
        overflow: hidden;
        &-title{
          color: var(--thoughtware-black);
          font-size: var(--thoughtware-font-16);
          font-weight: var(--thoughtware-font-weight-bold);
        }
      }
      &-content {
        width: 100%;
        color: var(--thoughtware-black);
        .log-content{
          margin-top: 10px;
        }
      }
    }
  }
}
