.quick-entry{
    padding: 10px;
    background: var(--thoughtware-white);
    margin-bottom: var(--thoughtware-padding-item);
    .quick-entry-title{
      font-size: var(--thoughtware-font-16);
      font-weight: var(--thoughtware-font-weight-bold);
    }
    .quick-entry-content{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 5px 0 10px;
        .quick-entry-item{
            width: 200px;
            padding: 10px;
            border-radius: 4px;
            cursor: pointer;
            text-align: center;
            background: #fafbfc;
            &:not(:first-child){
                margin-left: 15px;
            }
            div:first-child{
                padding-bottom: 15px;
            }
        }
    }
}
