.todoWidget{
    display: flex;
    overflow: hidden;
    padding: 10px;
    background: var(--tiklab-white);
    border: 1px solid var(--tiklab-gray-200);
    min-height: 240px;
    margin-bottom: var(--tiklab-padding-item);
    &-card{
        width: 100%;
        overflow: hidden;
        &-body{
            height: 100%;
            overflow: hidden;
            &-header {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
                flex-wrap: nowrap;
                overflow: hidden;
                &-title{
                    color: var(--tiklab-black);
                    font-size: var(--tiklab-font-16);
                    font-weight: var(--tiklab-font-weight-bold);
                }
            }
            &-content {
                width: 100%;
                color: var(--tiklab-black);
                .todo-content{
                    margin-top: 10px;
                }
                .tab-content{
                    overflow: auto;
                }
                .item-todo{
                    cursor: pointer;
                    padding: 8px;
                    &:hover{
                        background: #fafafa;
                        cursor: pointer;
                    }
                }
            }
        }
    }
    .time{
        color: var(--tiklab-gray-500);
    }
    &-tags {
        padding: var(--tiklab-padding-item) 0;
    }
}
