.layout {
  width: 100%;
  height: 100%;
  overflow: hidden;
  &_header {
    display: flex;
    justify-content: space-between;
    height: 48px;
    border-bottom: 1px solid var(--tiklab-gray-200);
    padding: 0 30px;
    &_link {
      height: 100%;
      display: flex;
      align-items: center;
      padding: 0 8px;
      >span{
        cursor: pointer;
      }
    }
    &_link_active {
      position: relative;
      border-bottom: 2px solid var(--tiklab-blue);
    }
    &_right{
      display: flex;
      flex-direction: row;
      justify-items: flex-end;
      align-items: center;
      height: 100%;
      .layout_header_right-text{
        margin-left: 20px;
      }
    }
    &-icon{
      font-size: var(--tiklab-icon-size-24);
    }
    .text_icon_block_item{
      cursor: pointer;
      padding: 4px;
    }
    .text_icon_block_item:hover, .text_icon_block_linked {
      border-radius: 50%;
      color: rgb(0, 82, 204);
      background-color: rgba(222, 235, 255, 0.9);
      .layout_header-icon{
        color: rgb(0, 82, 204);
      }
    }
  }

  .ant-menu-item:hover, .ant-menu-item-active, .ant-menu:not(.ant-menu-inline) .ant-menu-submenu-open, .ant-menu-submenu-active, .ant-menu-submenu-title:hover {
    color: var(--tiklab-black) !important;
  }
  .ant-menu-submenu:hover > .ant-menu-submenu-title > .ant-menu-submenu-expand-icon, .ant-menu-submenu:hover > .ant-menu-submenu-title > .ant-menu-submenu-arrow {
    color: var(--tiklab-black) !important;
  }
  .ant-menu-vertical .ant-menu-submenu-selected, .ant-menu-vertical-left .ant-menu-submenu-selected, .ant-menu-vertical-right .ant-menu-submenu-selected {
    color: var(--tiklab-black) !important;
  }

  .ant-menu-vertical .ant-menu-submenu-title {
    padding: 0 20px;
  }
}



