.eas-layout{
  height: 100vh;
  overflow: hidden;
  .eas-layout-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid var(--eas-border-color);
    padding: 0 30px;
    height: var(--eas-head-height);
    .layout-header{
      display: flex;
      align-items: center;
      .layout-header-logo{
        display: flex;
        align-items: center;
        margin: 0 25px;
        cursor: pointer;
        &>div:last-child{
          margin-left: 15px;
          font-size: 19px;
          font-weight: 500;
        }
      }
      .layout-header-text{
        margin-left: 20px;
      }
      .layout-header-text-icon{
        cursor: pointer;
        padding: 4px;
        &:hover, &-linked {
          border-radius: 50%;
          background: #E1EDFF;
          .text-icon{
            color: var(--thoughtware-blue);
          }
        }
        .text-icon{
          font-size: 24px;
        }
      }
    }
  }
  .eas-layout-content{
    height: var(--eas-content-height);
  }
}

.eas-home{
  display: flex;
  height: var(--eas-content-height);
  .normal-aside{
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    flex-basis: 80px;
    height: 100%;
    background: var(--eas-backdrop-color);
    border-right: 1px solid var(--eas-border-color);
    padding-bottom: 6px;
    .normal-aside-up{
      flex: 1;
      .normal-aside-item{
        cursor: pointer;
        display: flex;
        height: 50px;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        border-left: 3px solid transparent;
        &:hover{
          background: var(--eas-hover-color);
        }
        &:not(:last-child){
          margin-bottom: 8px;
        }
      }
      .normal-aside-select{
        background: var(--eas-select-color);
        border-left: 3px solid var(--thoughtware-blue);
      }
      .normal-aside-item-icon{
        font-size: var(--thoughtware-icon-size-16);
      }
    }
    .normal-aside-bottom{
      padding: 2px 0;
      .normal-aside-bottom-icon{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 36px;
        cursor: pointer;
        &:hover{
          background: var(--eas-hover-color);
        }
        .bottom-icon{
          padding: 4px;
          font-size: 20px;
        }
      }
    }
  }
  .eas-normal-content{
    flex: 1;
    width: 0;
  }
}



