

.portal-login-content{
    background: #a3ccfb;
    height: 100%;
    overflow: auto;
    &-wrap{
        height: 100%;
        &-row{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100%;
        }
    }
    &-form{
        //display: flex;
        //width: 100%;
        //justify-content: center;
        height: 100%;
    }
    &-formWrap{
        display: flex;
        flex-direction: column;
        background: white;
        height: 500px;
        width: 500px;
    }
    &-action {
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-around;
        margin-bottom: 60px;
    }
    &-form-item {
        display: flex;
        justify-content: center;
    }
}








