{
    "presets": [
        [
            "@babel/preset-env",
            {
                "targets": {
                    "browsers": [
                        "> 1%",
                        "last 5 versions",
                        "ie >= 8"
                    ]
                }
            }
        ],
        "@babel/preset-react"
    ],
    "plugins": [
        "@babel/plugin-transform-react-jsx",
        ["@babel/plugin-transform-arrow-functions"],
        ["@babel/plugin-proposal-decorators", { "legacy": true }],
        "@babel/plugin-syntax-dynamic-import",
        ["@babel/plugin-transform-runtime",
            {
                "regenerator": true
            }
        ],
        ["import", {
            "libraryName": "antd",
            "libraryDirectory": "es",
            "style": "css"
        }],
        [      "import",
            {
                "libraryName": "@ant-design/icons",
                "libraryDirectory": "es/icons",
                "camel2DashComponentName": false
            },
            "@ant-design/icons"
        ],

        ["import", {
            "libraryName": "tiklab-eam-ui",
            "libraryDirectory": "es",
            "style": true
        }, "tiklab-eam-ui"],
        ["import", {
            "libraryName": "tiklab-licence-ui",
            "libraryDirectory": "es",
            "style": true
        }, "tiklab-licence-ui"],
        ["import", {
            "libraryName": "tiklab-message-ui",
            "libraryDirectory": "es",
            "style": true
        }, "tiklab-message-ui"],
        ["import", {
            "libraryName": "tiklab-plugin-ui",
            "libraryDirectory": "es",
            "style": true
        }, "tiklab-plugin-ui"],
        ["import", {
            "libraryName": "tiklab-privilege-ui",
            "libraryDirectory": "es",
            "style": true
        }, "tiklab-privilege-ui"],

        ["import", {
            "libraryName": "tiklab-user-ui",
            "libraryDirectory": "es",
            "style": true
        }, "tiklab-user-ui"],

        "@babel/plugin-transform-regenerator",
        "react-hot-loader/babel"
    ]
}
