/**
* @name: work
* @author: mahai
* @date: 2021-05-24 09:38
* @description：work
* @update: 2021-05-24 09:38
*/
.workList{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
