.eas-breadcrumb{
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
  font-weight: var(--tiklab-font-weight-bold);
  .eas-breadcrumb-first{
    cursor: pointer;
  }
  .eas-breadcrumb-span{
    color: #00000073;
  }
}
