
.todoWidget{
  display: flex;
  overflow: hidden;
  padding: 10px;
  margin-bottom: var(--tiklab-padding-item);
  background: var(--tiklab-white);
  min-height: 240px;
  &-card{
    width: 100%;
    overflow: hidden;
    &-body{
      height: 100%;
      overflow: hidden;
      &-header {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        flex-wrap: nowrap;
        overflow: hidden;
        &-title{
          color: var(--tiklab-black);
          font-size: var(--tiklab-font-16);
          font-weight: var(--tiklab-font-weight-bold);
        }
      }


      &-content {
        width: 100%;
        color: var(--tiklab-black);
        .todo-content{
          margin-top: 10px;
        }
        .tab-content{
          //max-height: 300px;
          overflow: auto;
        }

        .item-todo{
          display: flex;
          align-items: center;
          justify-content: space-between;
          width: 100%;
          cursor: pointer;
          padding: 8px;
          &:hover{
            background: #fafafa;
            cursor: pointer;
          }
          &-wrap{
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
          }
          &-title {
            line-height: 28px;
            font-size: var(--tiklab-font-16);
          }
          &-content {
            color: var(--tiklab-gray-500);
            font-size: var(--tiklab-font-14);
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
          }
        }
      }
    }
  }
  .time{
    color: var(--tiklab-gray-500);
  }
  &-tags {
    padding: var(--tiklab-padding-item) 0;
  }
}
