

.tiklab_title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  font-weight: var(--tiklab-font-weight-bold);
  font-size: var(--tiklab-font-16);
  padding-bottom: var(--tiklab-padding-item);
  
}
